
  {{ADVIEW}}
<div id="container">
  <h1>Admin Panel</h1>
  <div id="buttons">
    <button class="btn btn-primary" onclick="show('usertable')">Users</button> 
    <button class="btn btn-primary" onclick="show('patchnotes')">Patchnotes</button> 
    <button class="btn btn-primary" onclick="show('admanager')">Ads manager</button>
  </div>

  <div id="usertable" class="card">
    <div class="card-header">
      <h3 class="card-title">User Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Verified</th>
            <th>Role</th>
            <th>Banned until</th>
            <th>Manage user</th>
          </tr>
        </thead>
        <tbody>
          {{USERS}}
        </tbody>
      </table>
    </div>
  </div>

  <div id="patchnotes" class="hide">
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <form id="form" method="POST">
      <div class="form-group row">
        <label
          for="inputTitle"
          class="col-sm-12 col-form-label"
          id="inputTitleLabel"
          >Title:</label
        >
        <div class="col-sm-12">
          <h1>
            <input
              type="text"
              class="form-control"
              id="inputTitle"
              placeholder="Patch"
              name="editorTitle"
            />
          </h1>
        </div>
      </div>
    </form>

    <div id="editor"></div>

    <button class="btn btn-primary" type="button" onclick="getData()">Submit</button>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/editor.js"></script>
    <script>putData(`{{TITLE}}`, `{{DATA}}`)</script>
  </div>

  <div id="admanager" class="hide">
    <div class="card-header">
      <h3 class="card-title">User ad  {{SPECMESS}}</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">


          <form method="POST">
            <div class="form-group">
              <label for="AdTitleform1">Title</label>
              <input
                type="text"
                class="form-control"
                id="adTitleForm1"
                placeholder="Game ad"
                name = "adTitleForm1"
                required
              />
            </div><hr>
            <div class="form-group">
              <label for="AdFileForm1" style=""
                >Upload your image if you wish to change it</label
              >
              <br />
              <input
                type="file"
                class="form-control-file"
                id="AdFileForm1"
              />
              <input type="hidden" name="adFileForm1" id="hiddenFileUrl">
            </div><hr>
            <div class="form-group">
                <label for="AdUrlForm1">Redirect URL</label>
                <input
                  type="text"
                  class="form-control"
                  id="adUrlForm1"
                  placeholder="Game ad"
                  name="adUrlForm1"
                  required
                />
              </div>
            <br />
            <button type="submit" class="btn btn-primary" name="adSubmit">Submit</button>
            <button class="btn btn-warning" onclick="" name="adPreview" id="adPreview">Preview</button>
            <button class="btn btn-danger" onclick="" name="adDelete"> Delete Ad</button><br><br>
          </form>
          {{FILLFORM}}
        </div>
        <div class="col-md-4">
          <img src="{{AdBaseUrl}}" style="width: 100%;" alt="No image selected"></img>
        </div>
      </div>
    </div>
  </div>
  {{MODAL}}
</div>
<script>
  let availableDivs = ['usertable', 'patchnotes', 'admanager']
  function show(div) {
    let buttons = document.getElementById("buttons").children;
    for (let i = 0; i < availableDivs.length; i++) {
      document.getElementById(availableDivs[i]).classList.add("hide");
    }
    document.getElementById(div).classList.remove("hide");
  }
  AdFileForm1.onchange= async function(e){
    let base64String = await toBase64(e.target.files[0]);
    document.getElementById("hiddenFileUrl").value = base64String;
    resetPreviewOnClick(base64String)
  }

  function showModal(){
    let modal = new bootstrap.Modal(document.getElementById('popupModal'))
    modal.show()
  }

  function resetPreviewOnClick(base64String){
    adPreview.onclick = (e) => {
      if(!base64String) return
      e.preventDefault()
      document.body.insertAdjacentHTML('beforeend', `
      <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popup" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" style="color: black;">Ad of the week</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="color: black;">
                      <img src=${base64String}>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
      `)
      showModal()
    }
  }

  resetPreviewOnClick()
</script>
{{SHOW}}