body{
    margin: 0;
    background: #333333;
    overflow: hidden;
}

*{
    color: white;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}

input, button{
    color: black;
}

#gameLoader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}