body{
    margin:0;
    overflow: hidden;
}

#editorRight{
    right: 0;
}

.base{
    position: absolute;
    background: rgba(0, 255, 255, 0.33);
    min-width: 250px;
    max-width: 50vw;
    z-index: 10000;
    height: 100vh;
    width: 25vw;
}

.dragBar{
    width: 5px;
    height: 100%;
    background: red;
    z-index: 10001;
    position: absolute;
}

.dragBar:hover{
    cursor: col-resize;
}

.hideButton{
    position: absolute;
    z-index: 10002;
    width: 25px;
    height: 25px;
    text-align: center;
    border: none;
}

.hideButton:hover{
    background: red;
}

.hideButton:focus{
    border: none;
}

.left{
    right: 0;
}