* {
    margin: 0;
    padding: 0;
}
.content{
    padding-top: 20px;
}

.formLogin {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-top: 30px;

}

.list-group {
    color: black;
}

.login-img {
    float: left;
}

.list-group-item {
    padding: .7rem 1.5rem;
    background-color: #DBDBDB;
}

.card-header {
    background-color: rgb(61, 61, 61);
}

#container form {
    display: block;
}

.user-container {
    display: grid;
    grid-template-areas:
        "char feed form"
        "friends feed form";
    grid-template-rows: auto 1fr;
    grid-template-columns: 20% 1fr 30%;
}

.char-link,
.char-li {
    padding: 0px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.char {
    padding: 10px;
}

.char-li:hover,
.char-li>a:hover {
    background-color: #8e8e8e;
    color: black;
}

.user {
    padding: 0;
    margin: 0;
}

.user-form {
    grid-area: form;
}

.user-characters {
    grid-area: char;
}

.user-feed {
    grid-area: feed;
}

.user-friend {
    grid-area: friends;
}
.overlay{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    background-color: black;
}
.delete-confirm{
    top: -500px;
    width: 700px;
    height: 250px;
    left: calc(50% - 350px);
    text-align: center;
    color: black;
    position: absolute;
    animation-name: deleteconfirm;
    animation-duration: 2s;
    z-index: 2;
    animation-fill-mode: forwards;
    background-color: white;
}
@keyframes deleteconfirm {
    from {top: -500px}
    to {top: 150px}
}

@keyframes opacity {
    from {opacity:0.0;}
    to {opacity:70%;}
}
